.super-g {
    font-size: 0;
}

.super-u-sm-1,
.super-u-1-2 {
    display: inline-block;
}

.super-u-1-2 {
    width: 50%;
}

@media screen and (max-width: 568px) {
    .super-u-sm-1 {
        width: 100%;
    }
}
